@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CerebriBook;
  src: url("../public/Cerebri\ Sans\ Book.ttf");
}

@font-face {
  font-family: RONORGERIONDEMO;
  src: url("../public/RONORGERIONDEMO-Regular.otf");
}

@font-face {
  font-family: Drugs;
  src: url("../public/TT\ Drugs\ Trial\ Regular.otf");
}

@font-face {
  font-family: DrugsItalic;
  src: url("../public/TT\ Drugs\ Trial\ Italic.otf");
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("../public/bg-sand-50\ \(1\).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: CerebriBook;
  color: #221f20;
}

.logo {
  font-family: RONORGERIONDEMO;
}

.h2 {
  font-family: Drugs;
}
.h3 {
  font-family: DrugsItalic;
}

.r-list::placeholder {
  color: #000000;
}

#r-form::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: #221f20;
  bottom: 0px;
}

.header-transparent {
  background: transparent;
  color: #fff;
}

.header {
  background: transparent;
  transition: all 0.25s ease-in-out;
}

.header.scrolled {
  background: rgb(243, 241, 234);
  color: black;
}

.nav-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  background-image: url("../public/bg-gradient.png");
  background-size: contain;
  background-position: center top;
  background-repeat: repeat-x;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none;
}

.hamburger-menu {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
}

.hamburger-menu.active {
  visibility: visible;
  transition: visibility 1s ease-in-out;
}

.hamburger-menu.active::before {
  transform: translate(0%, 0%) rotate(0deg);
  position: absolute;
  top: -5px;
}

.hamburger-menu.active::after {
  transform: translate(0%, 0%) rotate(0deg);
  position: absolute;
  top: 5px;
}

.hamburger-menu::before {
  content: "";
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(0%, -50%) rotate(-45deg);
  opacity: 1;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: inherit;
  visibility: visible;
}

.hamburger-menu::after {
  content: "";
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(0%, -50%) rotate(45deg);
  opacity: 1;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: inherit;
  visibility: visible;
}

.header.scrolled .hamburger-menu {
  background: #000000;
}

.image-overlay::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / 1.5006002400960383);
  width: 0;
}

.image-overlay::after {
  left: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.shop-button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(1);
  transform-origin: left;
  width: 100%;
  background-color: #5e3519;
  height: 1px;
  transition: transform 0.3s ease-in-out;
}

.detail-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(1);
  transform-origin: left;
  width: 100%;
  background-color: #5e3519;
  height: 1px;
  transition: transform 0.3s ease-in-out;
}

.shop-room-button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(1);
  transform-origin: left;
  width: 100%;
  background-color: #f3f1ea;
  height: 1px;
  transition: transform 0.3s ease-in-out;
}

.grid-item {
  display: grid;
  grid-auto-flow: unset;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start;
  white-space: nowrap;
  grid-auto-columns: max-content;
  vertical-align: top;
}

.scrollbar {
  display: grid;
  gap: 16px;
  overflow-x: auto;
  padding: 0px 24px;
  grid-auto-flow: column;
  grid-auto-columns: 53vw;
  grid-template-columns: none;
  min-width: min-content;
  scrollbar-width: none;
}

.secondary-img {
  visibility: hidden;
  opacity: 0;
}

.r-list {
  background: transparent;
}

.custom-scrollbar,
.select {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar,
.select::-webkit-scrollbar {
  display: none;
}

.tap-area::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -9px;
  width: 34px;
  height: 34px;
  border: 2px solid;
  border-color: #f3f1ea50;
  border-radius: 50%;
  animation: shopTheLookDotKeyframe 2s ease-in-out infinite;
}

.footer {
  background-image: url("../public//bg-rust-50.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  gap: 40px;
  padding: 0 24px;
}

.footer-gradient::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(243, 241, 234, 0),
    rgb(243, 241, 234)
  );
  z-index: 100;
}

.grid-list {
  display: grid;
  grid-template-columns: calc(50% - calc(24px / 2)) calc(50% - calc(24px / 2));
  /* margin-bottom: 12px; */
  gap: 0 24px;
}

.grid-img {
  display: grid;
  grid-template-columns: calc(50% - calc(24px / 2)) calc(50% - calc(24px / 2));
  margin-bottom: 12px;
  gap: 24px;
}

.fabric-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: -12px;
  justify-content: flex-start;
}

/* .gradient {
  position: relative;
} */

.gradient::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.05)
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.plus-icon::before {
  content: "";
  background-color: #5e3519;
  width: 14px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in;
}

.plus-icon::after {
  content: "";
  background-color: #5e3519;
  width: 1px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in;
}

.plus-icon.animate-plus::before {
  transform: translate(-50%, -50%) rotate(90deg);
  opacity: 0;
}
.plus-icon.animate-plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.drawer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;
}

.drawer.open {
  max-height: auto;
}

.open-mobile-menu {
  transform: translateX(calc(0 * 100%));
  visibility: visible;
  transition: transform 0.6s cubic-bezier(0.75, 0, 0.175, 1),
    visibility 0.6s cubic-bezier(0.75, 0, 0.175, 1);
}

.close-mobile-menu {
  transform: translateX(calc(1 * 100%));
  visibility: hidden;
  transition: transform 0.6s cubic-bezier(0.75, 0, 0.175, 1),
    visibility 0.6s cubic-bezier(0.75, 0, 0.175, 1);
}

.link-animate::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.open-mobile-menu .animate-link {
  transform: translate3d(0, 0, 0);
  transition: transform 0.59s ease-in-out;
}

.close-mobile-menu .animate-link {
  transform: translate3d(-2.1rem, 0, 0);
  transition: transform 0.59s ease-in-out;
}

.scroll-grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: start;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  padding: 10px 0;
  position: relative;
  align-items: start;
}

.scroll-item-grid {
  display: grid;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  grid-template-columns: 100% 100% 100%;
  align-items: start;
  justify-content: safe start;
  min-width: 0;
  grid-auto-flow: column;
  position: relative;
}

.timeline_content::before {
  content: "";
  position: absolute;
  width: unset;
  height: 100%;
  top: 0;
  pointer-events: none;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  right: 100%;
}

.timeline_image_wrapper {
  left: calc((100vw - unset) / 2);
  position: sticky;
}

@keyframes shopTheLookDotKeyframe {
  0% {
    opacity: 1;
    transform: scale(0.4);
  }

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
