@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CerebriBook;
  src: url("../public/Cerebri\ Sans\ Book.ttf");
}

@font-face {
  font-family: RONORGERIONDEMO;
  src: url("../public/RONORGERIONDEMO-Regular.otf");
}

@font-face {
  font-family: Chopin;
  src: url("../public/Chopin-Light.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("../public/bg-sand-50\ \(1\).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: CerebriBook;
}

.logo {
  font-family: RONORGERIONDEMO;
}

.h2 {
  font-family: Chopin;
}

.header-transparent {
  background: transparent;
  color: #fff;
}

.header {
  background: transparent;
  transition: all 0.25s ease-in-out;
}

.header.scrolled {
  background: rgb(243, 241, 234);
  color: black;
}

.nav-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  background-image: url("../public/bg-gradient.png");
  background-size: contain;
  background-position: center top;
  background-repeat: repeat-x;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none;
}

.hamburger-menu {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.hamburger-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: inherit;
}
.hamburger-menu::after {
  content: "";
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: inherit;
}

.header.scrolled .hamburger-menu {
  background: #000000;
}

.image-overlay::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / 1.5006002400960383);
  width: 0;
}

.image-overlay::after {
  left: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.shop-button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(1);
  transform-origin: left;
  width: 100%;
  background-color: #5e3519;
  height: 1px;
  transition: transform 0.3s ease-in-out;
}

.grid-item {
  display: grid;
  grid-auto-flow: unset;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start;
  white-space: nowrap;
  grid-auto-columns: max-content;
  vertical-align: top;
}

.scrollbar {
  display: grid;
  gap: 16px;
  overflow-x: auto;
  padding: 0px 24px;
  grid-auto-flow: column;
  grid-auto-columns: 53vw;
  grid-template-columns: none;
  min-width: min-content;
  scrollbar-width: none;
}

.secondary-img {
  visibility: hidden;
  opacity: 0;
}
